@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.tableData h1 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1rem;
}

body {
  position: relative;
  width: 100%;
  background: rgba(255, 255, 255, 0.39);
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

thead {
  background: lightgreen;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 16px;
}

tr {
  border-bottom: 1px solid #ccc;
}

td {
  padding: 10px;
  text-align: left;
}

th {
  padding: 10px;
  text-align: left;
  font-weight: 600;
  color: rgb(32, 32, 32);
  overflow: hidden;
  margin: 20px 0;
}

tbody {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.country {
  width: 10%;
}

.name {
  width: 15%;
}

.name:hover,
.status:hover {
  cursor: pointer;
  background: rgb(122, 204, 122);
}

.job {
  width: 15%;
}

.address {
  width: 30%;
}

input,
textarea {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tools {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.update,
.delete {
  margin-left: 20px;
}

.create {
  background: rgb(122, 204, 122);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.create:hover {
  background: rgb(0, 204, 0);
}

.update {
  background: rgb(186, 206, 100);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.update:hover {
  background: rgb(118, 155, 60);
}

.delete {
  background: rgb(255, 99, 71);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.delete:hover {
  background: rgb(204, 0, 0);
}

.create-page {
  padding: 20px;
}

form {
  margin-top: 20px;
}

form p {
  margin-top: 10px;
}

form input,
form textarea {
  margin-top: 5px;
}

textarea {
  padding: 10px;
  height: 80px;
  margin-bottom: -10px;
}

form select {
  margin-top: 5px;
  margin-bottom: 20px;
}

.dropdown {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

form select option {
  font-size: 14px;
}

.button {
  background: rgb(122, 204, 122);
  color: rgb(0, 0, 0);
  border: none;
  width: 20%;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
}
